# Python
venv/
__pycache__/
*.pyc
.pytest_cache/

# Node / Angular
node_modules/
dist/
.angular/

# Variables de entorno y sistema
.env
.DS_Store

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
.terraform.lock.hcl
